 <div class="container">
    <div class="text-center mt-5">
        <img src="assets/perfil.png" alt="Foto de perfil de Juampa Villa" 
        class="profile-picture float-middle ms-3" width="150">                 
    </div>    
    <h1 class="mt-2">Blue City Code</h1>
    
    <p class="lead">This is a place to share things about what I do, including coding, technology, the <code
            class="small">software development world </code>, news, books, etc.</p>
            
    <p class="lead">I'm <span class="fw-semibold lead text-primary"> Juampa Villa </span> a <span
            class="text-success fw-bold">.Net</span> Software Developer.</p>
            
    <p class="lead">I'm passionate about coding in <span class="text-muted fw-bold font-monospace">C#</span>; it’s what
        I do for a living, but it’s also what I enjoy every day as I solve new challenges.</p>
    <p class="lead">
        A lot has changed since I first started coding in Pascal back in 2004 in Tandil, Buenos Aires, Argentina. Now,
        I'm based in Azul (Blue in Spanish), a town not far from there and the place where I was born.

        <span class="font-monospace">[Blue City Code]</span>  is a tribute to the city where I live, 
        but it also reminds me of my first encounter with source code in Borland Turbo Pascal. 'Blue Code' refers to that moment too.
    </p>
    
    <p class="lead"> This is a space for me to share knowledge, information and news with friends, and an excuse to
        keep learning new things—synonymous with fun for me ☺️.</p>
 </div> 
